<template>
  <div id="app">
    <b-alert v-if="error">{{ error }}</b-alert>
    <h2>Balance: {{balance}}</h2>
    <b-list-group>
      <b-list-group-item
        v-for="trx in transactions"
        :key="trx.id"
        :variant="trx.type == 'debit' ? 'danger' : 'success'"
        v-b-toggle="'collapse-' + trx.id"
      >
      <b-row>
        <b-col>{{trx.type}}</b-col>
        <b-col>{{trx.amount}}</b-col>
        <b-col xs="12">
          <b-collapse :id="'collapse-' + trx.id" class="mt-2">
            <b-card>
              <b-col>ID: {{trx.id}}</b-col>
              <b-col>Date: {{trx.effectiveDate}}</b-col>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import axios from 'axios'

export default {
  name: "AgileEngine",
  components: {

  },
  data() {
    return {
      api: (process.env.NODE_ENV === 'production' ? '' : 'http://localhost:3000') + '/api/',
      transactions: [],
      balance: 0,
      error: null
    }
  },
  created() {
    this.updateBalance()
    this.getTransactions()
  },
  methods: {
    updateBalance() {
      axios.get(this.api).then(response => (this.balance = response.data.balance))
      .catch(function (error) {
        this.error = error;
      })
    },
    getTransactions() {
      axios.get(this.api + 'transactions').then(response => (this.transactions = response.data))
      .catch(function (error) {
        this.error = error;
      });
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
